.swiper-pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* Можно настроить цвет или прозрачность */
  display: flex;
  justify-content: center;
  padding: 11px 0;
}

.swiper-pagination-bullet {
  width: 105px;
  height: 35px;
  border-radius: 7px;
  padding-top: 5px;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  color: white;
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
  color: white;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  min-height: 100vh;
}